In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome()

In [111]:
driver.get('https://www.shine.com/')

In [5]:
title=driver.find_element(By.CLASS_NAME,"form-control  ")
title.send_keys('Data Analyst')

In [6]:
loc=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
loc.send_keys('Bangalore')

In [10]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [11]:
job = []

In [12]:
job_title=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in job_title[:10]:
    title=i.text
    job.append(title)

In [13]:
job

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst',
 'Urgently need a Data Analyst']

In [19]:
company = []
experience = []
location = []

In [20]:
company_name=driver.find_elements(By.CLASS_NAME,"jobCard_jobCard_cName__mYnow")
for i in company_name[0:10]:
    name=i.text
    company.append(name)
    
EXP=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in EXP[0:10]:
    exper=i.text
    experience.append(exper)

loc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in loc[:10]:
    lac=i.text
    location.append(lac)

In [21]:
experience

['2 to 4 Yrs',
 '3 to 6 Yrs',
 '0 to 4 Yrs',
 '2 to 5 Yrs',
 '7 to 12 Yrs',
 '0 to 4 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs',
 '1 to 2 Yrs']

In [22]:
location

['Bangalore',
 'Bangalore',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore\n+9',
 'Bangalore\n+14',
 'Bangalore',
 'Bangalore',
 'Bangalore',
 'Bangalore']

In [23]:
company

['futures and careers',
 'boyen haddin consulting and technol...',
 'kavya staffing solutions',
 'ara resources private limited',
 'ashutosh sabhashankar chaturvedi hi...',
 'divya interprises',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited',
 'deuglo infosystem private limited']

In [24]:
df1=pd.DataFrame({"COMPANY_NAME":company,"job_name":job,"Experience":experience,"LOCATION":location})
df1

,COMPANY_NAME,job_name,Experience,LOCATION
0,futures and careers,Project Coordinator (Data Analyst),2 to 4 Yrs,Bangalore
1,boyen haddin consulting and technol...,Data Analyst - Java/Python,3 to 6 Yrs,Bangalore
2,kavya staffing solutions,Hiring For Data Analyst,0 to 4 Yrs,Bangalore\n+14
3,ara resources private limited,Senior Data Analyst,2 to 5 Yrs,Bangalore
4,ashutosh sabhashankar chaturvedi hi...,Data Analyst,7 to 12 Yrs,Bangalore\n+9
5,divya interprises,Data Analyst Urgent Recruiment,0 to 4 Yrs,Bangalore\n+14
6,deuglo infosystem private limited,Apply Now a Data Analyst,1 to 2 Yrs,Bangalore
7,deuglo infosystem private limited,Apply Now Data Analyst,1 to 2 Yrs,Bangalore
8,deuglo infosystem private limited,Needed for Data Analyst,1 to 2 Yrs,Bangalore
9,deuglo infosystem private limited,Urgently need a Data Analyst,1 to 2 Yrs,Bangalore

In [76]:
driver.get('https://www.shine.com/')

In [42]:
title2=driver.find_element(By.CLASS_NAME,"form-control  ")
title2.send_keys('Data Scientist')

In [43]:
loc2=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
loc2.send_keys('Bangalore')

In [ ]:
search2=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search2.click()

In [45]:
job2= []
company2= []
experience2 = []
location2=[]

In [68]:
j_name=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in j_name:
    nam=i.text
    job2.append(nam)
    
com=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in com:
    cm=i.text
    company2.append(cm)
    
expp=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in expp:
    ez=i.text
    experience2.append(ez)
    
lc=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in lc:
    ey=i.text
    location2.append(ey)

In [71]:
J=job2[0:10]
E=experience2[0:10]
C=company2[0:10]
L=location2[0:10]

In [72]:
df2=pd.DataFrame({'job_name':J,'Experience':E,'Company':C,'Location':L})
df2

,job_name,Experience,Company,Location
0,Hiring For Data Scientist,0 to 4 Yrs,kavya staffing solutions,Bangalore\n+17
1,Hiring For Data Scientist,0 to 4 Yrs,kavya staffing solutions,Bangalore\n+17
2,Data Scientist,5 to 10 Yrs,skyleaf consultants,Bangalore
3,Data Scientist Urgent Recruitment,0 to 4 Yrs,divya interprises,Bangalore\n+14
4,Required for Data Scientist,4 to 6 Yrs,deuglo infosystem private limited,Bangalore
5,Urgently need Data Scientist,4 to 6 Yrs,deuglo infosystem private limited,Bangalore\n+8
6,Data scientist Bangalore,6 to 9 Yrs,seven geomax consulting private lim...,Bangalore
7,Data Scientist,3 to 6 Yrs,employberry consultants hiring for ...,Bangalore
8,Hiring For Data Scientist,0 to 4 Yrs,niharika enterprises,Bangalore\n+15
9,Needed for the post Data Scientist,4 to 6 Yrs,deuglo infosystem private limited,Bangalore\n+8

In [114]:
title=driver.find_element(By.CLASS_NAME,"searchBarInput")
title.click()

In [115]:
job=driver.find_element(By.CLASS_NAME,"form-control  ")
job.send_keys('Data Scientist')

In [117]:
sbmt=driver.find_element(By.XPATH,'/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div')
sbmt.click()

In [119]:
Loc_fil=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[1]/button')
Loc_fil.click()

In [120]:
delhi_fil=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[8]/span/label')
delhi_fil.click()

In [121]:
submit_fil=driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
submit_fil.click()

In [122]:
sal_fil=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button')
sal_fil.click()

In [123]:
sal_cri=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label')
sal_cri.click()

In [124]:
sal_sub=driver.find_element(By.XPATH,'//button[@class="btn btn-secondary"]')
sal_sub.click()

In [125]:
Name= []
Exp = []
cOM= []
JOBLOC =[]

In [153]:
nameofjob=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
for i in nameofjob:
    n=i.text
    Name.append(n)

    
exp_req=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in exp_req:
    e=i.text
    Exp.append(e)

    
nameofcom=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in nameofcom:
    c=i.text
    cOM.append(c)

    
locofj=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in locofj:
    l=i.text
    JOBLOC.append(l)

In [154]:
top_10nam=Name[:10]
top_10com=cOM[:10]
top_10job=JOBLOC[:10]
top_10exp=Exp[:10]

In [155]:
df3=pd.DataFrame({'name':top_10nam,'comP':top_10com,'exP':top_10exp,'lOC':top_10job})
df3

,name,comP,exP,lOC
0,Data Scientist,"[kavya staffing solutions, kavya staffing solu...",0 to 3 Yrs,Delhi\n+6
1,Data Scientist,"[kavya staffing solutions, kavya staffing solu...",3 to 6 Yrs,Delhi\n+6
2,Data Scientist,"[kavya staffing solutions, kavya staffing solu...",0 to 1 Yr,Delhi\n+4
3,Data Scientist,"[kavya staffing solutions, kavya staffing solu...",3 to 5 Yrs,Delhi
4,for _GCP Data Engineer/Lead/Architect- Delhi,"[kavya staffing solutions, kavya staffing solu...",2 to 3 Yrs,Delhi
5,for _GCP Data Engineer/Lead/Architect- Delhi,"[kavya staffing solutions, kavya staffing solu...",2 to 3 Yrs,Delhi
6,Req. For Data Scientist -Reputed Data Analytic...,"[kavya staffing solutions, kavya staffing solu...",2 to 6 Yrs,Delhi
7,For Senior Data Scientist-Reputed IT Industry,"[kavya staffing solutions, kavya staffing solu...",4 to 8 Yrs,Delhi
8,Req. now Data Scientist,"[kavya staffing solutions, kavya staffing solu...",3 to 5 Yrs,Delhi
9,Data Scientist,"[kavya staffing solutions, kavya staffing solu...",3 to 6 Yrs,Delhi

In [ ]:
cOM[:10]

In [189]:
#Q4


driver.get('https://www.flipkart.com/')

In [191]:
close_b=driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
close_b.click()

In [193]:
srch=driver.find_element(By.CLASS_NAME,"_3OO5Xc")
srch.click()

In [194]:
glass=driver.find_element(By.XPATH,'//input[@type="text"]')
glass.send_keys('sunglasses')

In [197]:
search_btn=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn.click()

In [198]:
fltr=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[1]/div[2]/div[1]/div/section[7]/div/div')
fltr.click()

In [201]:
mediun=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[1]/div[2]/div[1]/div/section[7]/div[2]/div/div[2]/div/label/div[2]')
mediun.click()

In [211]:
brandname = []
discription = []
price = []

In [212]:
bww=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in bww:
    brr=i.text
    brandname.append(brr)

In [205]:
disc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in disc:
    dd=i.text
    discription.append(disc)

prz=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in prz:
    pz=i.text.replace('‚Çπ','')
    price.append(pz)

In [206]:
next_btn=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_btn.click()

In [220]:
dcp=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in dcp:
    dcpp=i.text
    discription.append(dcpp)
        
pze=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pze:
    pzz=i.text.replace("‚Çπ","")
    price.append(pzz)

In [221]:
next_2=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div/div[2]/div[12]/div/div/nav/a[12]')
next_2.click()

In [222]:
bwww=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in bwww:
    brrr=i.text
    brandname.append(brrr)
dccp=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in dccp:
    dccpp=i.text
    discription.append(dccpp)
        
pzee=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pzee:
    pzzz=i.text.replace("‚Çπ","")
    price.append(pzzz)

In [226]:
brandname4=brandname[:100]
discription4=discription[:100]
price4=price[:100]

In [227]:
df4=pd.DataFrame({'BRANDNAME':brandname4,'DISCRIPTION':discription4,'PIRCE':price4})
df4

        BRANDNAME                                        DISCRIPTION   PIRCE
0       ROYAL SON  UV Protection Rectangular, Retro Square Sungla...     497
1   VINCENT CHASE     Polarized, UV Protection Round Sunglasses (50)     883
2   VINCENT CHASE  Polarized, UV Protection Rectangular Sunglasse...     899
3   VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)     949
4     john jacobs                UV Protection Round Sunglasses (51)   1,999
..            ...                                                ...     ...
95         OAKLEY              UV Protection Aviator Sunglasses (57)  11,390
96    john jacobs   Riding Glasses, Gradient Aviator Sunglasses (57)   2,249
97   Silver Kartz     Polarized, UV Protection Round Sunglasses (50)     280
98  VINCENT CHASE         UV Protection Retro Square Sunglasses (53)   1,199
99         GANSTA  UV Protection, Riding Glasses Retro Square Sun...     211

[100 rows x 3 columns]

In [228]:
#Q5

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market')

In [270]:
Ratings = []
Summary = []
REVIEW = []

In [271]:
start= 0
end = 10

for pages in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Ratings.append(i.text)
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        Summary.append(i.text)
    review=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in review:
        ABC=i.text
        REVIEW.append(ABC)
    nxt_btn=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    nxt_btn.click()
    time.sleep(11)

In [272]:
print(REVIEW)

['Photos super', 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'This is amazing at all', 'V Good all', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Good Camera', 'Perfect Product!!', 'Superüî• and good performance üëå‚ù§Ô∏è', 'Purple is best', 'It‚Äôs really awesome', 'Camera is just wow üëåüëå', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Value for money üòç', 'Excellent Phone.', 'very good camera quality', 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà', 'NYC', 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE', 'Photos super', 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'This is amazing at all', 'V Good all', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Good Camera', 'Perfect Product!!', 'Superüî• and good performance üëå‚ù§Ô∏è', 'Purple is best', 'It‚Äôs really awesome', 'Camera is just wow üëåüëå', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Value for money üòç', 'Excellent Phone.', 'very good camera quality', 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà', 'NYC', 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE', 'Photos super', 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'This is amazing at all', 'V Good all', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Good Camera', 'Perfect Product!!', 'Superüî• and good performance üëå‚ù§Ô∏è', 'Purple is best', 'It‚Äôs really awesome', 'Camera is just wow üëåüëå', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Value for money üòç', 'Excellent Phone.', 'very good camera quality', 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà', 'NYC', 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE', 'Value for money üòç', 'Photos super', 'Very very good', 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!', 'This is amazing at all', 'Perfect Product!!', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'V Good all', 'Good Camera', 'Superüî• and good performance üëå‚ù§Ô∏è', 'It‚Äôs really awesome', 'Camera is just wow üëåüëå', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Value for money üòç', 'Excellent Phone.', 'very good camera quality', 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà', 'NYC', 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE', 'Photos super', 'Camera is awesome\nBest battery backup\nA performer üëåüèª\nIt will be a real value for money if they provide charger and earphone inbox!', 'Very very good', 'This is amazing at all', 'V Good all', 'Feeling awesome after getting the delivery of my phone. Dual speakers makes the sound quality very loud. Amazing!!', 'Good Camera', 'Perfect Product!!', 'Superüî• and good performance üëå‚ù§Ô∏è', 'Purple is best', 'It‚Äôs really awesome', 'Camera is just wow üëåüëå', 'Go for iPhone 11 , if confused between iPhone 11 or iPhone 12 mini.Battery Life is enhanced , it worked for complete 2 days without charging it. Explored new features of taking screenshot by clicking on apple logo by Haptic Touch , Portrait mode with stage effect enhanced & slow motion selfie.', 'Value for money üòç', 'Excellent Phone.', 'very good camera quality', 'It‚Äôs very good battery life and display and video quality and ther performance of iPhone.....üî•üî•üåà', 'NYC', 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good', 'iPhone 11 is a good phone. Not a very big difference between 12 except for the OLED screen and a very minor camera improvement which is you cant make a difference. If you are planning for a iPhone and you have budget you definitely can go for this without second thoughts.\nNow some people are complaining and giving review 0 or so because there is no charger and headphones, but thats been already mentioned so I assume they are illiterate. Its not that Flipkart is removing them duh. Anyways bee...\nREAD MORE']

In [273]:
NRatings= Ratings[:100]
NSummary= Summary[:100]
NReview= REVIEW[:100]

In [274]:
df5=pd.DataFrame({'RATINGS':NRatings,'SUMMARY':NSummary,'REVIEWS':NReview})
df5

,RATINGS,SUMMARY,REVIEWS
0,5,Classy product,Photos super
1,5,Classy product,Camera is awesome\nBest battery backup\nA perf...
2,5,Terrific,Very very good
3,5,Wonderful,This is amazing at all
4,5,Perfect product!,V Good all
...,...,...,...
95,5,Brilliant,very good camera quality
96,5,Fabulous!,It‚Äôs very good battery life and display and vi...
97,5,Excellent,NYC
98,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
99,5,Awesome,iPhone 11 is a good phone. Not a very big diff...

In [3]:
#Q6

driver.get('https://www.flipkart.com/')

In [6]:
srch2=driver.find_element(By.CLASS_NAME,"_3OO5Xc")
srch2.click()

In [7]:
snekrs=driver.find_element(By.XPATH,'//input[@type="text"]')
snekrs.send_keys('sneakers')

In [8]:
search_btn2=driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
search_btn2.click()

In [9]:
NAMEOFBRND = []
DESCOFPROD = []
PRIC = []

In [10]:
start= 0
end = 3

for pages in range(start,end):
    brnd=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brnd:
        NAMEOFBRND.append(i.text)
    prddec=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in prddec:
        DESCOFPROD.append(i.text)
    prod=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in prod:
        ppp=i.text.replace('‚Çπ','')
        PRIC.append(ppp)
        
        
    nxt_btn2=driver.find_element(By.CLASS_NAME,"_1LKTO3")
    nxt_btn2.click()
    time.sleep(4)

In [11]:
NAMEOFBRND6 =NAMEOFBRND[0:100]
DESCOFPROD6 =DESCOFPROD[0:100]
PRODPRIC6 =PRIC[0:100]

In [12]:
print(len(NAMEOFBRND6))
print(len(DESCOFPROD6))
print(len(PRODPRIC6))

100
100
100

In [13]:
df6=pd.DataFrame({'NAME':NAMEOFBRND6,'DESCRIPTION':DESCOFPROD6,'PRICe':PRODPRIC6})
df6

          NAME                                        DESCRIPTION  PRICe
0     Magnolia  Modern Trendy Sneakers boot Sneakers Sneakers ...    449
1         ATOM                                   Sneakers For Men  1,485
2       BRUTON               Modern Trendy Shoes Sneakers For Men    379
3     Nobelite                                   Sneakers For Men    299
4         aadi  Synthetic Leather |Lightweight|Comfort|Summer|...    398
..         ...                                                ...    ...
95        aadi                                   Sneakers For Men    299
96    RapidBox                      Club Culture Sneakers For Men    695
97       WROGN               Spring Edge Alpha 1 Sneakers For Men    922
98  Free Kicks                             Caven Sneakers For Men    599
99        PUMA                         Hustle V2 Sneakers For Men  1,299

[100 rows x 3 columns]

In [14]:
#Q7
driver.get('https://www.amazon.in/')

In [18]:
amzn_srch=driver.find_element(By.CLASS_NAME,"nav-fill")
amzn_srch.click()

In [27]:
coredd=driver.find_element(By.XPATH,'//input[@type="text"]')
coredd.send_keys('laptop')

In [29]:
srch=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
srch.click()

In [30]:
ci7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[7]/ul[7]/span[9]/li/span/a/span')
ci7.click()

In [34]:
TiTle = []
RaTing = []
PrIze = []

In [37]:
titl=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in titl[0:10]:
    TiTle.append(i.text)
RATing=driver.find_elements(By.XPATH,'//span[@class="a-size-base puis-bold-weight-text"]')
for i in RATing[0:10]:
    RaTing.append(i.text)
prze=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in prze[0:10]:
    ppz=i.text.replace('‚Çπ','')
    PrIze.append(ppz)

In [38]:
print(len(TiTle))
print(len(RaTing))
print(len(PrIze))

10
10
10

In [39]:
df7=pd.DataFrame({'TITLE':TiTle,'RATINGs':RaTing,'PRICe':PrIze})
df7

                                               TITLE RATINGs     PRICe
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...     4.0    64,990
1  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...     4.5    70,990
2  Acer Nitro 5 12th Gen Intel Core i7-12650H Gam...     4.0    99,990
3  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...     4.6    89,990
4  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...     3.3    86,249
5  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...     4.4    89,990
6  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...     4.3  1,15,990
7  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...     4.1    52,990
8  ASUS Creator Series Vivobook 14X OLED (2023), ...     3.5    92,990
9  ASUS Creator Series Vivobook 14X OLED (2023), ...     4.5    92,990

In [40]:
#Q8

driver.get('https://www.azquotes.com/')

In [41]:
srch_link=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
srch_link.click()

In [42]:
Quotes=[]

In [49]:
start=0
end=10

for pages in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        Quotes.append(i.text)
    
    page_next=driver.find_element(By.CLASS_NAME,'next')
    page_next.click()
    time.sleep(11)

In [51]:
quo=Quotes[0:1000]

In [52]:
df8=pd.DataFrame({'QUOTES':quo})
df8

                                                QUOTES
0    The essence of strategy is choosing what not t...
1    One cannot and must not try to erase the past ...
2    Patriotism means to stand by the country. It d...
3    Death is something inevitable. When a man has ...
4    You have to love a nation that celebrates its ...
..                                                 ...
995  When one door closes, another opens; but we of...
996                   Don't find fault, find a remedy.
997  I used to think the worst thing in life was to...
998  Friends and good manners will carry you where ...
999  If you want to make a permanent change, stop f...

[1000 rows x 1 columns]

In [53]:
#Q9


driver.get('https://www.jagranjosh.com/')

In [54]:
jagran=driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
jagran.click()

In [55]:
PM=[]

In [56]:
pmlist=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
pmlist.click()

In [59]:
NamE=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]/table/tbody/tr[2]/td[2]/p/strong/a')
NamE.

In [60]:
#Q10

driver.get('https://www.motor1.com/')

In [63]:
article=driver.find_element(By.CLASS_NAME,"m1-navigation-main-part-right")
article.click()

In [65]:
art=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
art.send_keys('50 most expensive cars in the world')

In [66]:
srch_art=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
srch_art.click()

In [67]:
top_car_page=driver.find_element(By.XPATH,'/html/body/div[10]/div[9]/div/div[1]/div/div/div[1]/div/div[1]/h3/a')
top_car_page.click()

In [85]:
Car = []
carprice = []

In [86]:
NName=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in nname:
    Car.append(i.text)

In [88]:
car=cname[0:50]

In [89]:
df10=pd.DataFrame({'CAR':car})
df10

                                                  CAR
0   <selenium.webdriver.remote.webelement.WebEleme...
1   <selenium.webdriver.remote.webelement.WebEleme...
2   <selenium.webdriver.remote.webelement.WebEleme...
3   <selenium.webdriver.remote.webelement.WebEleme...
4   <selenium.webdriver.remote.webelement.WebEleme...
5   <selenium.webdriver.remote.webelement.WebEleme...
6   <selenium.webdriver.remote.webelement.WebEleme...
7   <selenium.webdriver.remote.webelement.WebEleme...
8   <selenium.webdriver.remote.webelement.WebEleme...
9   <selenium.webdriver.remote.webelement.WebEleme...
10  <selenium.webdriver.remote.webelement.WebEleme...
11  <selenium.webdriver.remote.webelement.WebEleme...
12  <selenium.webdriver.remote.webelement.WebEleme...
13  <selenium.webdriver.remote.webelement.WebEleme...
14  <selenium.webdriver.remote.webelement.WebEleme...
15  <selenium.webdriver.remote.webelement.WebEleme...
16  <selenium.webdriver.remote.webelement.WebEleme...
17  <selenium.webdriver.remote.webelement.WebEleme...
18  <selenium.webdriver.remote.webelement.WebEleme...
19  <selenium.webdriver.remote.webelement.WebEleme...
20  <selenium.webdriver.remote.webelement.WebEleme...
21  <selenium.webdriver.remote.webelement.WebEleme...
22  <selenium.webdriver.remote.webelement.WebEleme...
23  <selenium.webdriver.remote.webelement.WebEleme...
24  <selenium.webdriver.remote.webelement.WebEleme...
25  <selenium.webdriver.remote.webelement.WebEleme...
26  <selenium.webdriver.remote.webelement.WebEleme...
27  <selenium.webdriver.remote.webelement.WebEleme...
28  <selenium.webdriver.remote.webelement.WebEleme...
29  <selenium.webdriver.remote.webelement.WebEleme...
30  <selenium.webdriver.remote.webelement.WebEleme...
31  <selenium.webdriver.remote.webelement.WebEleme...
32  <selenium.webdriver.remote.webelement.WebEleme...
33  <selenium.webdriver.remote.webelement.WebEleme...
34  <selenium.webdriver.remote.webelement.WebEleme...
35  <selenium.webdriver.remote.webelement.WebEleme...
36  <selenium.webdriver.remote.webelement.WebEleme...
37  <selenium.webdriver.remote.webelement.WebEleme...
38  <selenium.webdriver.remote.webelement.WebEleme...
39  <selenium.webdriver.remote.webelement.WebEleme...
40  <selenium.webdriver.remote.webelement.WebEleme...
41  <selenium.webdriver.remote.webelement.WebEleme...
42  <selenium.webdriver.remote.webelement.WebEleme...
43  <selenium.webdriver.remote.webelement.WebEleme...
44  <selenium.webdriver.remote.webelement.WebEleme...
45  <selenium.webdriver.remote.webelement.WebEleme...
46  <selenium.webdriver.remote.webelement.WebEleme...
47  <selenium.webdriver.remote.webelement.WebEleme...
48  <selenium.webdriver.remote.webelement.WebEleme...
49  <selenium.webdriver.remote.webelement.WebEleme...